*{
    box-sizing: border-box;
    margin: auto;
    background-color: black;
    color: white;
}

.red{
    background-color: red;
}

.blue{
    color: white;
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.black{
    color: white;
    background-color: black;
}