*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --blue: #0040ff;
    --yellow: #b0b046;
    --maincolor: #191919;
    --orange: rgb(158, 122, 51);
    --white: white;
}

.imageGallery{
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.imageGallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    flex: none;
}

.imageGallery div img{
    width: 100%;
    transition: transform 0.5s;
}

.imageGallery::-webkit-scrollbar{
    display: none;
}

.imageGallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#fwbtn, #rwnbtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.imageGallery div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.red{
    background-color: var(--yellow);
}

.mainColor{
    background-color: var(--maincolor);
}

.orange{
    background-color: var(--orange);
}

.headerList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.z-3{
    z-index: 3;
}

.bold{
    font-weight: bold;
}

.pHeader{
    padding: 10px;
}

.headerStyle{
    text-decoration: none;
    color: var(--maincolor);
}

.headerStyle:hover{
    color: var(--orange);
}

.footList{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footStyle:hover{
    color: var(--yellow);
}

.m-10{
    margin: 10px;
}

.clrWhite{
    color: var(--white);
}
