*{
    box-sizing: border-box;
    margin: 0;
    background-color: #191919;
    color: white;
}
.imageGallery{
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.imageGallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    flex: none;
}

.imageGallery div img{
    width: 100%;
    transition: transform 0.5s;
}

.imageGallery::-webkit-scrollbar{
    display: none;
}

.imageGallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#fwbtn, #rwnbtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.imageGallery div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}